body {
  margin: 0;
  height: 100%;
}
/* A wrapper around all content on the page*/
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

}

.animation {
  width: 20%;
  height: auto;
}

.yarn {
  width: 20%;
  height: auto;
}

/* A section around all background images*/
.section {
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Placing the background images */
.background-1 {
  background-image: url('../images/1.house.jpg');
  /*centering the text */
  display: flex;
  justify-content: center;
  text-align: center;
}

.background-2 {
  background-image: url('../images/2.door.jpg');
}

.background-3 {
  background-image: url('../images/3.kitchen.jpg');
}

.background-4 {
  background-image: url('../images/4.creepystairs.jpg');
}

.background-5 {
  background-image: url('../images/6.bedroom.jpg');
}

.background-6 {
  background-image: url('../images/5.stairs.jpg');
}

.background-7 {
  background-image: url('../images/7.attic.jpg');
}

.background-8 {
  background-image: url('../images/10.cabinet.jpg');
}

.background-9 {
  background-image: url('../images/11.cateyes.jpg');
}

.background-10 {
  background-color: black;
}

.background-11 {
  background-image: url('../images/.jpg');
}

/* centering the welcome text*/
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header h1{
background-color: white;
opacity: 0.55;
width: 50%;
}

/* Making the images responsive*/

@media screen and (max-width: 568px) {

.background-1, .background-3, .background-4, .background-5, .background-6,
  .background-7, .background-8, .background-9, .background-10, .background-11 {
  background-attachment: scroll;
  height: 50vh;
  }

.background-2 {
  height: 50vh;
  background-attachment: scroll;
  }

.section{
  height: 45vh;}
  /*Create media queries for ipad*/
